extends inc.layout.jade
block content
	.wrap.bg-slideshow
		.slideshow
			.cycle-slideshow(
				data-cycle-pause-on-hover='true',
				data-cycle-pager='.slide-pager',
				data-cycle-slides='.slide',
				data-cycle-pager-template='<i class="page"></i>',
				data-cycle-prev='.slide-left',
				data-cycle-next='.slide-right'
			)

				.slide
					.slide-text
						.title Asian Practice
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;

					img(src="img/slide_asian.jpg", alt="")

				.slide
					.slide-text
						.title Advisory
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_advisory.jpg" alt="")

				.slide
					.slide-text
						.title Assurance
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_assurance.jpg", alt="")


				.slide
					.slide-text
						.title Law
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_law.jpg", alt="")

				.slide
					.slide-text
						.title Startup
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_startup.jpg", alt="")

				.slide
					.slide-text
						.title Tax
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_tax.jpg", alt="")

				.slide
					.slide-text
						.title Too Many SLIDES!!
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='#').details Details &gt;
					img(src="img/slide_wealth.jpg", alt="")

			.slide-controls
				.slide-left
				.slide-pager
				.slide-right
	.wrap
		.container
			.header-wrap
				h2 Newsroom
				a(href="newsroom.html") Read more news &gt;

			.social-stream-wrap
				#social-stream
block scripts
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js")
	script(src='js/jquery.social.stream.1.5.9.min.js')
	script(src='js/jquery.social.stream.wall.1.6.js')
	script(src='js/home.js')
