extends inc.layout.jade
block content
	.wrap.bg-slideshow
		.slideshow
			.cycle-slideshow(
				data-cycle-pause-on-hover='true',
				data-cycle-pager='.slide-pager',
				data-cycle-slides='.slide',
				data-cycle-pager-template='<i class="page"></i>',
				data-cycle-prev='.slide-left',
				data-cycle-next='.slide-right'
			)

				.slide
					.slide-text
						.title Assurance
						.desc When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
						a(href='what-we-do-assurance.html').details Details &gt;

					img(src="img/slide_assurance.jpg", alt="")

				.slide
					.slide-text
						.title Tax
						.desc Through a forward thinking multidisciplinary approach and deep industry knowledge, we help you comply with increasingly complex tax regulations, and help optimize their impacts on your business.
						a(href='what-we-do-tax.html').details Details &gt;
					img(src="img/slide_tax.jpg" alt="")

				//- .slide
					.slide-text
						.title Advisory
						.desc We leverage our experience and industry expertise to maximize value and minimize risk during acquisitions, litigation, corporate reorganization and other major business transactions and transitions.
						a(href='what-we-do-advisory.html').details Details &gt;
					img(src="img/slide_advisory.jpg", alt="")


				.slide
					.slide-text
						.title Law
						.desc With a professional base of Attorneys and CPAs and some with dual qualifications to handle cross-over issues, we provide a range of legal advice in Tax Litigation, Estate Planning, and Business.
						a(href='what-we-do-law.html').details Details &gt;
					img(src="img/slide_law.jpg", alt="")

				.slide
					.slide-text
						.title Asian Practice
						.desc Throughout the global marketplace, Asian companies are seeking ways to address emerging trends and manage risk driven by economic uncertainty, and this can be especially challenging for Asian companies doing business in the United States.
						a(href='what-we-do-asian.html').details Details &gt;
					img(src="img/slide_asian.jpg", alt="")

				.slide
					.slide-text
						.title Startup Consulting
						.desc We are committed to understanding startups and the community, and we focus on building a long-term relationship with each startup and taking each step to help our entrepreneurs create a successful startup in the U.S.
						a(href='what-we-do-startup.html').details Details &gt;
					img(src="img/slide_startup.jpg", alt="")

				.slide
					.slide-text
						.title Wealth Management
						.desc Wealth management helps our clients work towards and maintain financial prosperity by implementing strategies that seek to maximize the growth, preservation and tax efficient transfer of corporate and personal wealth.
						a(href='http://jcwealthmgnt.com').details Details &gt;
					img(src="img/slide_wealth.jpg", alt="")

			.slide-controls
				.slide-left
				.slide-pager
				.slide-right
	.wrap
		.container
			.header-wrap.home
				h2 Newsroom
				a(href="newsroom.html") Read more news &gt;

			.social-stream-wrap
				#social-stream
block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js")
	script(src='js/jquery.social.stream.1.5.9.min.js')
	script(src='js/jquery.social.stream.wall.1.6.js')
	script(src='js/home.js')
